
.navbar-brand{
font-family:'Ubuntu',sans-serif;
font-size: 2em;
font-weight: bold;
}
.custom-nav .custom-nav-item a{
    color: azure !important;
}
.custom-nav-item:hover{
    background-color:deepskyblue;
    border: solid aquamarine;
    border-radius: 10px;
    color:whitesmoke
}
.remove-vid-marg{
    margin: 0px;
    padding: 0px;
}
.vid-parent{
    position: relative;
}
video{
    width: 100%;
    height: 100%;
}
.vid-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: azure;
    z-index: 1;
    opacity: 0.2;
}
.vid-content{
    position: absolute;
    z-index: 2;
    top: 35%;
    left:35%;
    text-align:center;
    color: aliceblue;
}
.stripe{
    background-image: linear-gradient(240deg,coral,salmon);
    padding: 3rem;
    height: 13rem;
    margin-top: 4rem;
    transform: rotate(10deg);
    z-index: -5;
}


@media screen and (min-width:0px) and (max-width:700px){
    .my-content{
        display:none;
    }
    video{
        width: 100%;
        height: 300%;
    }
    .vid-content{
        top: 16%;
        left: 36%;
        opacity: 0.5;
    }
    .custom-nav .custom-nav-item a {
        padding: 10px 20px;
        background-color: black;

    }   
    .custom-nav-item:hover {
        background-color: none;
        border: none;
        border-radius: none;
    }
}
